@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #ffffff;
    height: auto;
    width: auto;
}

main{
    max-width: 100%;
}

p{
    font-family: 'Outfit', sans-serif;
    color: #444444;
}
  
h1, h2{
    font-family: 'Big Shoulders Display', cursive;
    color: #151515;
}


.container{
    display: block;
}

.landing-image {
    background: url(./assets/mobile/image-hero@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 100%;
    flex: 0 1 60vw;
    margin: 0;
    position: relative;
    top: 0%;
    padding-right: 0;
}

.content-1{
    width: 250px;
    font-size: 25px;
    padding-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 12px;
}

.content-3{
    padding-left: 1.5rem;
    width: 350px;
    font-size: 20px;
    font-weight: 300;
}


.content-3 button{
    height: 70px;
    width: 230px;
    background-color: #151515;
    color: #ffffff;
    transition: background 500ms ease;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .content-3 svg{
    position: absolute;
    float: right;
    background-color: #D5966C;
    padding: 1.45rem 0.8rem;
    margin-top: -25px;
    margin-left: 15px;
  }
  
  .content-3 svg:hover{
    background-color: #151515;
  }

  .content-3 button:hover{
    background-color: #D5966C;
    cursor: pointer;
}

  .container-1{
    padding-left: 1.5rem;
  }


  .image1{
    background: url(./assets/mobile/image-grid-1@2x.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 310px;
    position: relative;
    margin-top: 100px;
  } 

  .content-1-1 h1{
    width: 200px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 42px;
  }


  .content-1-1 p{
    width: 350px;
    font-size: 20px;
    font-weight: 300;
  }


  .container-2{
    display: block;
    padding-left: 1.5rem;
  }


  #landing-2 .fourth-pic{
    float: left;
    position: relative;
    left: 0%;
  }


  #image2{
    background: url(./assets/mobile/image-grid-2@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    width: 350px;
    position: absolute;
  } 
  
  
  #image3{
    background: url(./assets/mobile/image-grid-3@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    position: relative;
    top: 27rem;
  }
      
      
  #black-text{
    background-color: #151515;
    color: #ffffff;
    width: 350px;
    height: 320px;
    position: relative;
    top: 27rem;
  }

  #black-text h2{
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    margin: 15px 0 0 15px;
    letter-spacing: 0.2px;
    line-height: 40px;
    position: relative;
    bottom: 20px;
    padding-left: 1rem;
  }

  #black-text .one{
    padding-top: 5rem;
  }

  #black-text .text3 p{
    width: 260px;
    margin: 15px 0 0 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 1rem;
    color: #ffffff;
  }


  footer{
    display: block;
    background-color: #151515;
    color: #ffffff;
    width: 100%;
    height: 333px;
    position: relative;
    margin-top: 35rem;
    bottom: 0%;
  }


  footer h2{
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    margin: 35px 0 0 35px;
    letter-spacing: 0.2px;
    line-height: 1px;
    position: relative;
    bottom: 20px;
    padding-left: 0;
    padding-right: 1rem;
  }

  footer .one{
    padding-top: 3.5rem;
    bottom: 10px;
  }

  footer .text3 p{
    width: 260px;
    margin: 35px 0 0 35px;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    padding-right: 0.5rem;
    color: #ffffff;
  }

  .social-media{
    margin: 35px 0 0 35px;
    display: flex;
    
  }

  .social-media svg{
    height: 20px;
    width: 20px;
    margin-right: 20px;
  }

  svg path:hover{
    fill: #D5966C;
    cursor: pointer;
    transition: background 500ms ease;
  }
  